.header-frame{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin: 0;
    border: none;
    overflow: hidden;
    z-index: 100;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.centered-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
}

.text-box {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    text-align: center;
}